{%- liquid
  assign color_scheme = section.settings.color_scheme
  assign bg_color = false

  if color_scheme == '1'
    assign bg_color = settings.color_scheme_1_bg
  elsif color_scheme == '2'
    assign bg_color = settings.color_scheme_2_bg
  elsif color_scheme == '3'
    assign bg_color = settings.color_scheme_3_bg
  endif

  if bg_color == settings.bg_color or bg_color == 'rgba(0,0,0,0)'
    assign bg_color = false
  endif
-%}

{%- unless section.settings.full_width -%}
  <div class="container">
{%- endunless -%}

<style>
  [seo-readmore-layout].section{
    margin: 0 auto;
    padding: {{ section.settings.spacing_top_mb | append: 'px' }} 0 {{ section.settings.spacing_bottom_mb | append: 'px' }};
  }
  [seo-readmore-layout].section .container,
  [seo-readmore-layout].section .max-w-text-overlay{
    max-width: 100%;
  }
  [seo-readmore-layout].section .enlarge-text.reading-width--inline{
    padding: 0 2px;
  }
  
  [seo-readmore-layout] .view-more, [seo-readmore-layout] .view-less {
    font-weight: 300;
    font-size: 12px;
    cursor: pointer;
    font-family: var(--body-font-family);
    text-decoration: underline;
    /* padding-top: 49px; */
    position: absolute;
    top: 100%;
    left: 50%;
    margin-top: 15px;
    transform: translateX(-50%);
    letter-spacing: -0.1px;
    color: #000;

  }
  [seo-readmore-layout] .max-w-text-overlay{
    position: relative;
  }
  [seo-readmore-layout] .metafield-rich_text_field {
      color: #000;
      margin-bottom: 0 !important;
      -webkit-line-clamp: 5;
      -webkit-box-orient: vertical;
      overflow: hidden;
      display: -webkit-box;
      text-overflow:clip;
  }
  [seo-readmore-layout] .metafield-rich_text_field.active-more {
      -webkit-line-clamp: unset;
  }
  [seo-readmore-layout] .metafield-rich_text_field > * {
    font-size: 12px !important;
    line-height: 18px;
    font-weight: 300;
    letter-spacing: -0.1px;
    color: #000;
    font-family: var(--body-font-family);
  }
  [seo-readmore-layout] .metafield-rich_text_field > *:first-child {
      font-size: 18px !important;
      line-height: 20.7px;
      font-family: var(--body-font-family);
      font-weight: 400;
      margin-bottom: 15px;
      color: #000;
  }
  [seo-readmore-layout] .metafield-rich_text_field > *:first-child strong{
      font-size: 18px !important;
      line-height: 20.7px;
      font-weight: 400;
      font-family: var(--body-font-family);
  }
  @media screen and (min-width: 980px) {
    [seo-readmore-layout].section{
      margin: 0 auto;
      padding: {{ section.settings.spacing_top | append: 'px' }} 0 {{ section.settings.spacing_bottom | append: 'px' }};
    }  
    [seo-readmore-layout].section .container,
    [seo-readmore-layout].section .max-w-text-overlay{
      max-width: 80%;
    }
    [seo-readmore-layout] .metafield-rich_text_field {
      -webkit-line-clamp: 3;
    }
  }
</style>
<script>
  function viewMore(el) {
      let sectionBlock = el.closest('.section__block')
      let buttonViewLess = sectionBlock.querySelector('.view-less')
      el.classList.add('hidden')
      buttonViewLess.classList.remove('hidden')
      sectionBlock.querySelector('.metafield-rich_text_field').classList.add('active-more')
  }
  function viewLess(el) {
      let sectionBlock = el.closest('.section__block')
      let buttonViewMore = sectionBlock.querySelector('.view-more')
      el.classList.add('hidden')
      buttonViewMore.classList.remove('hidden')
      sectionBlock.querySelector('.metafield-rich_text_field').classList.remove('active-more')
  }
</script>

<div seo-readmore-layout  class=" align3  section{% unless bg_color == false %} section--padded{% if section.settings.full_width %} section--full-width{% endif %}{% endunless %}{% unless color_scheme == 'none' %} color-scheme color-scheme--{{ color_scheme }}{% endunless %}{% if bg_color == false %} color-scheme--transparent{% endif %}" id="{{ section.id }}"{% if settings.animations_enabled != "disabled" and section.settings.prevent_animation == false %} data-cc-animate{% endif %}>
  <div class="container flex {{ section.settings.text_position }} {{ section.settings.text_align }}{% if section.settings.mob_center_text %} md-down:text-center{% endif %}">
    <div class="max-w-text-overlay">
      {%- for block in section.blocks -%}
        {%- case block.type -%}
          {%- when 'heading' -%}
            {%- if block.settings.heading != blank -%}
              <{% if block.settings.heading_h1 %}h1{% else %}h2{% endif %} class="section__block section__block--heading md-down:px-gutter {{ block.settings.heading_size }}" {{ block.shopify_attributes }}>
                <span class=" contained-heading inline-block">{{- block.settings.heading | escape -}}</span>
              </{% if block.settings.heading_h1 %}h1{% else %}h2{% endif %}>
            {%- endif -%}

          {%- when 'subheading' -%}
            {%- if block.settings.text != blank -%}
              <p class="section__block section__block--subheading subheading md-down:px-gutter" {{ block.shopify_attributes }}>
                <span class="contained-heading inline-block">{{- block.settings.text | escape -}}</span>
              </p>
            {%- endif -%}

          {%- when 'text' -%}

          <style>
    
  .section__blockq {
        max-width: 600px; /* Ajusta esto según el ancho deseado */
        margin: 0 auto; /* Centra el bloque en la página */
        text-align: center; /* Alinea el texto a la izquierda dentro del bloque */
        font-size: 12px; /* Ajusta el tamaño de la fuente */
    }
    .view-more, .view-less {
        text-align: left; /* Asegura que los botones también estén alineados a la izquierda */
        margin-top: 20px; /* Espacio por encima de los botones */
    }
  .contained-heading {
  
}
@media (max-width: 600px) {
  .contained-heading {
    margin-left: 0%;
  }
}
          </style>



    {%- if block.settings.text != blank -%}
       <div class="text-center-container">
          <div class="section__blockq section__block reading-width--inline md-down:px-gutter rte{% if section.settings.text_align == 'text-start' %} mr-auto{% elsif section.settings.text_align == 'text-end' %} ml-auto{% else %} mx-auto{% endif %}{% if block.settings.enlarge_text %} enlarge-text{% endif %}" {{ block.shopify_attributes }}>
              <div class="" id="textDisplay">
                  {{ block.settings.text }}
              </div>
              <!-- Texto adicional que se mostrará al hacer clic en el botón "Ver más" -->
              <div id="moreText" style="display:none;">
                  {{ block.settings.text2 }}
              </div>
              <div style="cursor:pointer;" id="viewMoreButton" class="view-more">
                  <span onclick="toggleText()">Ver más</span>
              </div>
              <div style="cursor:pointer;" id="viewLessButton" class="view-less hidden">
                  <span onclick="toggleText()">Ver menos</span>
              </div>
          </div>
       </div>
    {%- endif -%}
    <script>
        function toggleText() {
            var moreText = document.getElementById("moreText");
            var viewMoreButton = document.getElementById("viewMoreButton");
            var viewLessButton = document.getElementById("viewLessButton");

            if (moreText.style.display === "none") {
                moreText.style.display = "block"; // Mostrar el texto adicional
                viewMoreButton.style.display = "none"; // Ocultar el botón 'Ver más'
                viewLessButton.style.display = "block"; // Mostrar el botón 'Ver menos'
            } else {
                moreText.style.display = "none"; // Ocultar el texto adicional
                viewMoreButton.style.display = "block"; // Mostrar el botón 'Ver más' nuevamente
                viewLessButton.style.display = "none"; // Ocultar el botón 'Ver menos'
            }
        }
    </script>














          
           

          {%- when 'button' -%}
            {%- if block.settings.button_1_label != blank or block.settings.button_2_label != blank -%}
              <div class="section__block section__block--buttons md-down:px-gutter inline-flex flex-wrap {% if section.settings.text_align == 'text-start' %} justify-start{% elsif section.settings.text_align == 'text-end' %} justify-end{% else %} justify-center{% endif %}{% if section.settings.mob_center_text %} md-down:center{% endif %}" {{ block.shopify_attributes }}>
                {%- if block.settings.button_1_label != blank %}
                  <a class="btn {{ block.settings.button_1_style }}" {% if block.settings.button_1_link == blank %}role="link" aria-disabled="true"{% else %}href="{{ block.settings.button_1_link }}"{% endif %}>
                    {{- block.settings.button_1_label | escape -}}
                  </a>
                {%- endif -%}
                {%- if block.settings.button_2_label != blank %}
                  <a class="btn {{ block.settings.button_2_style }}" {% if block.settings.button_2_link == blank %}role="link" aria-disabled="true"{% else %}href="{{ block.settings.button_2_link }}"{% endif %}>
                    {{- block.settings.button_2_label | escape -}}
                  </a>
                {%- endif -%}
              </div>
            {%- endif -%}
        {%- endcase -%}
      {%- endfor -%}
    </div>
  </div>
</div>

{%- unless section.settings.full_width -%}
  </div>
{%- endunless -%}

{% schema %}
{
  "name": "Rich text home",
  "class": "cc-rich-text",
  "settings": [
    {
      "type": "header",
      "content": "Layout"
    },
    {
      "type": "select",
      "id": "text_position",
      "label": "Text position",
      "options": [
        {
          "value": "justify-start",
          "label": "Left"
        },
        {
          "value": "justify-center",
          "label": "Center"
        },
        {
          "value": "justify-end",
          "label": "Right"
        }
      ],
      "default": "justify-center"
    },
    {
      "type": "select",
      "id": "text_align",
      "label": "Text alignment",
      "options": [
        {
          "value": "text-start",
          "label": "Left"
        },
        {
          "value": "text-center",
          "label": "Center"
        },
        {
          "value": "text-end",
          "label": "Right"
        }
      ],
      "default": "text-center"
    },
    {
      "type": "checkbox",
      "id": "mob_center_text",
      "label": "Center text on mobile",
      "default": true
    },
    {
      "type": "header",
      "content": "Style"
    },
    {
      "type": "select",
      "id": "color_scheme",
      "label": "Color scheme",
      "options": [
        {
          "value": "none",
          "label": "Default"
        },
        {
          "value": "1",
          "label": "Scheme 1"
        },
        {
          "value": "2",
          "label": "Scheme 2"
        },
        {
          "value": "3",
          "label": "Scheme 3"
        }
      ],
      "default": "none"
    },
    {
      "type": "checkbox",
      "id": "full_width",
      "label": "Make section background full width",
      "default": true
    },
    {
      "type": "header",
      "content": "SEO"
    },
    {
      "type": "checkbox",
      "id": "prevent_animation",
      "label": "Load the section without animation",
      "info": "If this section is visible when the page loads, enabling this setting can reduce CLS and may improve site speed scores. [Read more](https://cleancanvas.co.uk/support/enterprise/performance-guide)",
      "default": false
    },
    {
      "type": "header",
      "content": "Section spacing"
    },
    {
      "type": "number",
      "id": "spacing_top",
      "label": "Spacing top",
      "default": 20
    },
    {
      "type": "number",
      "id": "spacing_bottom",
      "label": "Spacing bottom",
      "default": 20
    },
    {
      "type": "number",
      "id": "spacing_top_mb",
      "label": "Spacing top mobile",
      "default": 20
    },
    {
      "type": "number",
      "id": "spacing_bottom_mb",
      "label": "Spacing bottom mobile",
      "default": 20
    }
  ],
  "blocks": [
    {
      "type": "heading",
      "name": "Heading",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "label": "Heading",
          "default": "Rich text headline"
        },
        {
          "type": "select",
          "id": "heading_size",
          "label": "Heading size",
          "options": [
            {
              "value": "h6",
              "label": "Extra extra small"
            },
            {
              "value": "h5",
              "label": "Extra small"
            },
            {
              "value": "h4",
              "label": "Small"
            },
            {
              "value": "h3",
              "label": "Medium"
            },
            {
              "value": "h2",
              "label": "Large"
            },
            {
              "value": "h1",
              "label": "Extra large"
            },
            {
              "value": "h0",
              "label": "Extra extra large"
            }
          ],
          "default": "h2"
        },
        {
          "type": "checkbox",
          "id": "heading_h1",
          "label": "Set as page heading (uses h1 tag)",
          "info": "For optimum SEO, a page should only have one h1 and it should be the first heading on the page.",
          "default": false
        }
      ]
    },
    {
      "type": "subheading",
      "name": "Subheading",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "text",
          "label": "Subheading",
          "default": "Subheading"
        }
      ]
    },
    {
      "type": "text",
      "name": "Text",
      "limit": 1,
      "settings": [
        {
          "type": "richtext",
          "id": "text",
          "label": "Text",
          "default": "<p>Share information about your store with your customers. Describe a product, share announcements, or welcome customers to your store.</p>"
        },
        {
          "type": "richtext",
          "id": "text2",
          "label": "Text",
          "default": "<p>Share information about your store with your customers. Describe a product, share announcements, or welcome customers to your store.</p>"
        },
        {
          "type": "checkbox",
          "id": "enlarge_text",
          "label": "Enlarge text",
          "default": true
        }
      ]
    },
    {
      "type": "button",
      "name": "Button",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "button_1_label",
          "label": "Button 1 label",
          "default": "Optional button"
        },
        {
          "type": "url",
          "id": "button_1_link",
          "label": "Button 1 link"
        },
        {
          "type": "select",
          "id": "button_1_style",
          "label": "Button 1 style",
          "options": [
            {
              "value": "link",
              "label": "Link"
            },
            {
              "value": "btn--primary",
              "label": "Primary button"
            },
            {
              "value": "btn--secondary",
              "label": "Secondary button"
            }
          ],
          "default": "btn--primary"
        },
        {
          "type": "text",
          "id": "button_2_label",
          "label": "Button 2 label",
          "default": "Optional button"
        },
        {
          "type": "url",
          "id": "button_2_link",
          "label": "Button 2 link"
        },
        {
          "type": "select",
          "id": "button_2_style",
          "label": "Button 2 style",
          "options": [
            {
              "value": "link",
              "label": "Link"
            },
            {
              "value": "btn btn--primary",
              "label": "Primary button"
            },
            {
              "value": "btn btn--secondary",
              "label": "Secondary button"
            }
          ],
          "default": "btn btn--primary"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Rich text home",
      "blocks": [
        {
          "type": "subheading"
        },
        {
          "type": "heading"
        },
        {
          "type": "text"
        },
        {
          "type": "button"
        }
      ]
    }
  ],
  "disabled_on": {
    "groups": [
      "header",
      "footer",
      "aside"
    ]
  }
}
{% endschema %}